################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A1/NumberGuessing/.vs/NumberGuessing
