################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A1/NumberGuessing/.vs/NumberGuessing
/A1/NumberGuessing/SelfHostedNumberGuessingClient/bin/Debug
/A1/NumberGuessing/SelfHostedNumberGuessingClient/obj/Debug
/A1/NumberGuessing/SelfHostedNumberGuessing/bin/Debug
/A1/NumberGuessing/SelfHostedNumberGuessing/obj/Debug
/A1/NumberGuessing/NumberGuessingGui/bin/Debug
/A1/NumberGuessing/NumberGuessing/obj/Debug
/A1/NumberGuessing/NumberGuessing/bin
