<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INumberGuessing" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49396/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INumberGuessing" contract="NumberGuessService.INumberGuessing"
                name="BasicHttpBinding_INumberGuessing" />
        </client>
    </system.serviceModel>
</configuration>