@model NumberGuessingMvcClient.Models.GenerateSecretNumber
@{
    ViewData["Title"] = "Home Page";
}



<div class="text-left" style="margin-top: 15px">
    <form class="p-a-1" asp-action="GenerateSecretNumber" method="post">
        <div asp-validation-summary="All"></div>
        <label asp-for="lowerLimit">Lower Limt:</label>
        <input class="form-control" asp-for="lowerLimit" />

        <label asp-for="upperLimit">Upper Limt:</label>
        <input class="form-control" asp-for="upperLimit" />

        <button class="btn btn-primary" type="submit">
            Generate Number to Guess
        </button>
    </form>

</div>
